body {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  background-color: rgb(37, 37, 37);
}

p {
  color: white;
}

h1 {
  color: white;
}

#esquerda {
  flex-direction: column;
  margin-left: auto;
}

#direita {
  flex-direction: column;
  margin-right: auto;
}

#fotoalice {
  border-radius: 300px;
  height: 300px;
  width: 300px;
}

#sunset-coffee-img {
  height: 650px;
  width: 1150px;
  border-radius: 100px;
}